<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Properties.Settings.namefieldConnectionString"
            connectionString="server=localhost;User Id=root;password=121417181;database=namefield"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>